<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="mongodb://bauno:bauno@ds127731.mlab.com:27731"/>
    <!-- <add key="ConnectionString" value="mongodb://localhost"/> -->
    <add key="DbName" value="heroku_w2tmr6gh"/>
  </appSettings>
</configuration>
