source https://www.nuget.org/api/v2
nuget FAKE
nuget FSharp.Core
nuget FsUnit.xUnit
nuget MongoDB.Driver
nuget namelessinteractive.fsharp.mongodb
nuget Newtonsoft.Json
nuget Suave
nuget xunit.runner.console
nuget chessie
#github fsprojects/Chessie src/Chessie/ErrorHandling.fs